:root {
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  padding: 0;
  background: #f1efdb;
}

.outer-shadow {
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #360deb;
  margin-bottom: 20px;
  /* background-color: red; */
}

#header h1 {
  /* background-color: blue; */
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

#gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  /* display: none; */
}

#gallery img {
  width: 100%;
  max-width: 300px;
  border: 1px solid #eb0d3d;
  border-radius: 10px;
  cursor: pointer;
}

#fullScreen {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#fullScreen #line {
  height: 100vh;
  width: 100%;
  background: #360deb;
  -webkit-clip-path: polygon(90% 0, 100% 0, 35% 100%, 25% 100%);
          clip-path: polygon(90% 0, 100% 0, 35% 100%, 25% 100%);
}

#fullScreen #title {
  height: 90px;
  width: 500px;
  background: #360deb;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  left: 0;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  overflow: hidden;
}

#fullScreen #title h2 {
  color: #e0e6dd;
}

#close {
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 50px;
  color: #121312;
  cursor: pointer;
  z-index: 999;
}

#image {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#image img {
  max-height: 90vh;
  max-width: 70%;
  border: 1px solid #eb0d3d;
  border-radius: 50px 0;
}

#fullScreen .image-comments {
  max-height: 600px;
  width: 400px;
  color: black;
  font-size: 20px;
  background: white;
  border: 1px solid #eb0d3d;
  position: absolute;
  left: 0;
  top: 200px;
  display: table-row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 0px 10px;
  margin: 10px;
  overflow: hidden;
  z-index: -1;
}

#fullScreen .comment {
  background: #360deb;
  margin-bottom: 10px;
  padding: 5px;
}

#fullScreen .comments-input-box {
  max-height: 600px;
  width: 200px;
  color: black;
  font-size: 20px;
  background: #b5ec6d;
  border: 1px solid #eb0d3d;
  position: absolute;
  right: 0;
  top: 200px;
  display: table-row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 0px 10px;
  margin: 10px;
  overflow: hidden;
  z-index: 99;
}

#fullScreen .comment-input {
  background: #360deb;
  margin-bottom: 10px;
  padding: 5px;
}

#footer {
  clear: both;
  border-top: 0px solid #ccc;
  text-align: right;
  background-color: cornflowerblue;
  color: white;
  padding: 5px 0;
  margin-top: 20px;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  #gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /* display: none; */
  }
  body {
    padding: 10px;
    background-color: lightblue;
  }
  #image img {
    max-height: 60vh;
    max-width: 60%;
    border: 1px solid #eb0d3d;
    border-radius: 50px 0;
  }
}
/*# sourceMappingURL=main-style.css.map */